<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyboot.sms.dao.AddressDao">

	<resultMap type="address" id="address">
		<id column="adr_l_id" property="addressLargeNo" />
		<id column="adr_m_id" property="addressMediumNo" />
		<id column="adr_s_id" property="addressSmallNo" />
		<result column="name" property="name" />
		<result column="l_name" property="largeName" />
		<result column="m_name" property="mediumName" />
		<result column="s_name" property="smallName" />
	</resultMap>



	<select id="findAddressName" resultMap="address"
		parameterType="map">
		select
		name,
		<if test="addressSize == 0">
		adr_l_id
		from
		sms_adr_l
		</if>
		  <if test="addressSize == 2">
    adr_m_id,
    adr_l_id
    from
    sms_adr_m
    where
    adr_l_id = #{addressNo}
    </if>
		  <if test="addressSize == 4">
    adr_l_id,
		adr_m_id,
    adr_s_id
    from
    sms_adr_s
    where
    CONCAT(adr_l_id,adr_m_id) = #{addressNo}
    </if>
	</select>

	<select id="findFullAddressName" resultMap="address"
		parameterType="int">
		select
		l.name as l_name,
		m.name as m_name,
		s.name as s_name
		from
		sms_adr_s s
		inner join sms_adr_m m on s.adr_m_id = m.adr_m_id
		inner join sms_adr_l l on m.adr_l_id = l.adr_l_id
		where s.adr_s_id = #{value}
	</select>

</mapper>
