<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.studyboot.sms.dao.AppliedStudyDao">
  
  <resultMap type="appliedStudy" id="appliedStudyMap">
    <id column="member_id" property="memberNo"/>
    <id column="std_id" property="studyNo"/>
    <result column="dtrm" property="determination"/>
    <result column="state" property="state"/>
    <result column="apl_date" property="appliedDate"/>
    <result column="name" property="studyName"/>
    <result column="photo" property="photo"/>
    <result column="sdt" property="startDate"/>
  </resultMap>
  
  <resultMap type="appliedStudy" id="approvalStudyMap">
    <id column="member_id" property="memberNo"/>
    <id column="std_id" property="studyNo"/>
    <result column="dtrm" property="determination"/>
    <result column="state" property="state"/>
    <result column="apl_date" property="appliedDate"/>
    <result column="name" property="studyName"/>
    <result column="photo" property="photo"/>
    <result column="sdt" property="startDate"/>
    
    <association property="member" javaType="member">
     <id column="member_id"        property="no"/>
     <result column="member_name"  property="name"/>
      <result column="member_photo"  property="photo"/>
      <result column="member_rate"  property="rate"/>
      <result column="member_nick"  property="nickName"/>
    </association>
  </resultMap>
  

  <select id="findAllByUser" resultMap="appliedStudyMap" parameterType="int">
    select
      a.member_id,
      a.std_id,
      a.dtrm,
      a.state,
      a.apl_date,
      s.name,
      s.photo,
      s.sdt
    from
      sms_apl_std a
      inner join sms_std s on a.std_id = s.std_id
    where
      member_id = #{value}
  </select>
  
  <select id="findAllByStudy" resultMap="appliedStudyMap" parameterType="int">
    select
      member_id,
      std_id,
      dtrm,
      state,
      apl_date
    from
      sms_apl_std
    where
      std_id = #{value}
  </select>
  
  <select id="findUserApproval" resultMap="approvalStudyMap" parameterType="int">
    select
      a.member_id,
      a.std_id,
      a.dtrm,
      a.state,
      a.apl_date,
      s.name as member_name,
      s.photo as member_photo,
      s.rate as member_rate,
      s.nick_name as member_nick
    from
      sms_apl_std a
      inner join sms_member s on a.member_id = s.member_id
    where
      std_id = #{value}
  </select>
  
  <delete id="delete" parameterType="map">
    delete from sms_apl_std
    where std_id=#{stdNo} and member_id=#{memberNo}
  </delete>
  
</mapper>










