<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.studyboot.sms.dao.ClsDao">

<resultMap type="cls" id="cls">
    <id column="cls_l_id" property="clsLargeNo"/>
    <id column="cls_m_id" property="clsMediumNo"/>
    <id column="cls_s_id" property="clsSmallNo"/>
    <result column="name" property="name"/>
  </resultMap>
  
  <select id="findedClsNoByKeyword" resultType="string" parameterType="map">
    select 
      CONCAT(s.cls_l_id, s.cls_m_id, s.cls_s_id)
    from
      sms_std_cls_s s
        inner join sms_std_cls_m m on (s.cls_m_id = m.cls_m_id and s.cls_l_id = m.cls_l_id  )
        inner join sms_std_cls_l l on s.cls_l_id = l.cls_l_id
    where 
    <bind name="pattern1" value="'%' + keyword + '%'"/>
    s.name like #{pattern1} or m.name like #{pattern1} or l.name like #{pattern1}
  </select>
  
  <select id="findLargeClsName" resultMap="cls">
    select 
      name,
      cls_l_id
    from
      sms_std_cls_l
  </select>
  
  <select id="findMediumClsName" resultMap="cls" parameterType="string">
    select 
      name,
      cls_m_id,
      cls_l_id
    from
      sms_std_cls_m 
    where 
    cls_l_id = #{value}
  </select>
  
  
 
  <select id="findSmallClsName" resultMap="cls" parameterType="string">
    select 
      name,
      cls_s_id,
      cls_m_id,
      cls_l_id
    from 
      sms_std_cls_s 
    where 
    cls_m_id = RIGHT(#{clsNo},2)
    and cls_l_id = LEFT(#{clsNo},2)
  </select>
  
  
</mapper>
