<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.studyboot.sms.dao.MemberDao">
  
  <resultMap type="member" id="memberMap">
    <id column="member_id" property="no"/>
    <result column="pwd" property="password"/>
    <result column="email" property="email"/>
    <result column="nick_name" property="nickName"/>
    <result column="join_date" property="registeredDate"/>
    <result column="name" property="name"/>
    <result column="rate" property="rate"/>
    <result column="birth" property="birth"/>
    <result column="tel" property="tel"/>
    <result column="photo" property="photo"/>
    <result column="admin" property="admin"/>
    <result column="adr_lms" property="address"/>
    <collection property="cls" ofType="string">
    <result column="cls_lms"/>
    </collection>
  </resultMap>
  
  <sql id="default-columns">
      member_id, 
      nick_name, 
      name,
      email, 
      tel,
      admin,
      adr_lms,
      join_date,
      rate,
      photo,
      birth
  </sql>
  

  <select id="findByKeyword" resultType="int" parameterType="map">
    select member_id from sms_member
   <where>
   <if test="keyword != null">
        <bind name="pattern1" value="'%' + keyword + '%'"/>
        name like #{pattern1}
    </if>
    </where>   
  </select>
  
  <select id="findByEmailPassword" resultMap="memberMap" parameterType="map">
    select 
      m.member_id, 
      m.nick_name, 
      m.name,
      m.email, 
      m.tel,
      m.admin,
      m.adr_lms,
      m.join_date,
      m.rate,
      m.photo,
      m.birth,
      c.cls_lms
    from 
      sms_member m
      inner join sms_member_cls c on c.member_id = m.member_id
    where 
      email = #{email}
      and pwd = password(#{password})
  </select>
  
  <select id="findByKeywordMsg" resultType="int" parameterType="map">
    select member_id from sms_member
   <where>
   <if test="keyword != null">
        <bind name="pattern1" value="'%' + keyword + '%'"/>
        nick_name like #{pattern1}
    </if>
    </where>
  </select>

  <update id="update" parameterType="member">
    update sms_member
    set
      name = #{name},
      nick_name = #{nickName},
      birth = #{birth},
      email = #{email},
      tel = #{tel},
      photo = #{photo},
      pwd = password(#{password}),
      rate = #{rate}
    where member_id = #{no}
  </update>
  
  <select id="findByNo" resultMap="memberMap" parameterType="int">
    select *
    from sms_member
    where member_id = #{value}
  </select>
  
  
   <select id="findByNickName" resultType="int" parameterType="string">
    select 
      member_id 
    from 
      sms_member
    where
      nick_name = #{nickName}
  </select>
  
</mapper>










