<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.studyboot.sms.dao.MessageDao">
  

  <resultMap type="message" id="messageMap">
    <id column="msg_id" property="no"/>
    <result column="send_id" property="sendNo"/>
    <result column="recv_id" property="recvNo"/>
    <result column="titl" property="title"/>
    <result column="cont" property="contents"/>
    <result column="dt" property="date"/>
  </resultMap>
  
  <resultMap type="message" id="messageListMap">
    <id column="msg_id" property="no"/>
    <result column="send_id" property="sendNo"/>
    <result column="recv_id" property="recvNo"/>
    <result column="titl" property="title"/>
    <result column="cont" property="contents"/>
    <result column="dt" property="date"/>
    
    <association property="messagePerson" javaType="member">
     <id column="message_id"        property="no"/>
      <result column="massage_nick"  property="nickName"/>
    </association>
  </resultMap>
  
  <resultMap type="message" id="messageDetailMap">
    <id column="msg_id" property="no"/>
    <result column="send_id" property="sendNo"/>
    <result column="recv_id" property="recvNo"/>
    <result column="titl" property="title"/>
    <result column="cont" property="contents"/>
    <result column="dt" property="date"/>
    
    <association property="messagePerson" javaType="member">
     <id column="message_id"        property="no"/>
      <result column="massage_nick"  property="nickName"/>
    </association>
  </resultMap>
  
   <sql id="select2">
  select 
      i.nick_name,
      c.cont,
      c.dt
    from 
      sms_msg c
      left outer join sms_member i on c.send_id = i.member_id
    where
      recv_id = #{recv_id};
      </sql>
  
  <select id="findAll" resultMap="messageListMap" parameterType="map">
     select 
      c.msg_id,
      c.send_id,
      c.titl,
      c.dt,
      i.nick_Name as massage_nick
    from 
      sms_msg c
      left outer join sms_member i on c.send_id = i.member_id
    <where>
    <if test="member_ids != null">
     <foreach collection="member_ids" item="member_id" separator="or">
      send_id = 
      #{member_id}
     </foreach>
    </if>
    <if test="member_ids == null">
     recv_id=6
    </if>
    </where>
    order by 
      msg_id desc
    <if test="size != null and rowNo != null">
      limit #{rowNo}, #{size}
    </if>
  </select>

  <select id="findAll2" resultMap="messageListMap" parameterType="map">
    select 
      c.msg_id,
      c.recv_id,
      c.titl,
      c.dt,
      i.nick_Name as massage_nick
    from 
      sms_msg c
      left outer join sms_member i on c.recv_id = i.member_id
    <where>
    <if test="member_ids != null">
     <foreach collection="member_ids" item="member_id" separator="or">
      recv_id = 
      #{member_id}
     </foreach>
    </if>
    <if test="member_ids == null">
     send_id=6
    </if>
    </where>
    order by 
      msg_id desc
    <if test="size != null and rowNo != null">
      limit #{rowNo}, #{size}
    </if>
  </select>
  
  <select id="countAll" resultType="int">
    select count(*) from sms_msg
  </select>
  <!-- countAll
        where 
      <if test="member_ids != null">
      <foreach collection="member_ids" item="member_id" separator="or">
      send_id = 
      #{member_id}
    </foreach>
    </if>
   -->
  <select id="countAll2" resultType="int">
    select count(*) from sms_msg
  </select>
  <!-- countAll2
   where 
      <if test="member_ids != null">
      <foreach collection="member_ids" item="member_id" separator="or">
      recv_id = 
      #{member_id}
    </foreach>
    </if>
   -->
  
  <select id="findByNo" resultMap="messageDetailMap" parameterType="int">
    select 
      c.msg_id,
      c.cont,
      c.dt,
      i.nick_Name as massage_nick
    from 
      sms_msg c
      left outer join sms_member i on c.send_id = i.member_id
    where 
      msg_id = #{value}
  </select>
  
  <delete id="delete" parameterType="int">
    delete from sms_msg
    where msg_id = #{no}
  </delete>
  
</mapper>

    <!--  
select c.msg_id, c.recv_id, c.titl, c.dt, i.nick_Name as massage_nick from sms_msg c left outer join sms_member i on recv_id = i.member_id where send_id=6;
 -->
