<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyboot.sms.dao.RateRequireDao">

 <!-- sms_member_rate_info 테이블 -->
  <resultMap type="RateRequire" id="rateRequireMap">
    <id column="std_id" property="studyNo" />
    <id column="member_id" property="memberNo" />
    <result column="rate_require" property="rateRequire" />
    <result column="nick_name" property="nickName" />
    <result column="photo" property="photo" />
    <result column="name" property="name" />
  </resultMap>

  <insert id="rateRequire" parameterType="map">
    insert into  sms_member_retire 
      values(
      #{studyNo},
      #{memberNo},
      #{rateRequire}
      )
  </insert>
  
  <select id="retireTrueOrFalse"  resultMap="rateRequireMap" parameterType="map">
    select 
      smr.std_id,
      smr.member_id,
      smr.rate_require,
      sm.nick_name,
      sm.photo,
      sm.name
    from
     sms_member_retire smr
      inner join sms_std_member ssm on ssm.member_id = smr.member_id and smr.std_id = ssm.std_id
      inner join sms_member sm on sm.member_id = ssm.member_id
    where smr.std_id = #{studyNo} and smr.rate_require = #{rateRequire}
  </select>
</mapper>










