<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.studyboot.sms.dao.ScheduleDao">

  <resultMap type="schedule" id="scheduleMap">
    <id column="std_schdl_id" property="id" />
    <result column="std_id" property="studyNo" />
    <result column="member_id" property="memberNo" />
    <result column="space_bkng_id" property="spaceBookingNo" />
    <result column="name" property="title" />
    <result column="schdl_sdt" property="start" />
    <result column="schdl_edt" property="end" />
    <result column="memo" property="memo" />
  </resultMap>

  <resultMap type="attend" id="attendMap">
    <id column="std_atnd_id" property="scheduleNo" />
    <id column="std_id" property="studyNo" />
    <id column="member_id" property="memberNo" />
    <result column="nick_name" property="nickName" />
  </resultMap>
  
  <insert id="insert" parameterType="schedule">
    insert into sms_std_schdl(
      name,
      std_id,
      member_id,
      schdl_sdt,
      schdl_edt,
      memo)
    values(
      #{title},
      #{studyNo},
      #{memberNo},
      #{start},
      #{end},
      #{memo})
  </insert>

  <select id="findAll" resultMap="scheduleMap" parameterType="int">
    select
      std_schdl_id,
      std_id,
      member_id,
      space_bkng_id,
      name,
      schdl_sdt,
      schdl_edt,
      memo
    from
      sms_std_schdl
    where std_id = #{value}
      
  </select>

  <select id="findByNo" resultMap="scheduleMap" parameterType="int">
    select
      std_schdl_id,
      std_id,
      member_id,
      space_bkng_id,
      name,
      schdl_sdt,
      schdl_edt,
      memo
    from
      sms_std_schdl
    where
      std_schdl_id = #{value}
  </select>
  
  <delete id="delete" parameterType="int">
    delete from
      sms_std_schdl
    where 
      std_schdl_id = #{value}
  </delete>
  
  <update id="update" parameterType="schedule">
    update 
      sms_std_schdl
    set
      name = #{title},
      schdl_sdt = #{start},
      schdl_edt = #{end},
      memo = #{memo}
    where std_schdl_id = #{id}
  </update>
  
  <insert id="attend" parameterType="map">
    insert into sms_std_atnd(
      std_atnd_id,
      std_id,
      member_id)
    values(
      #{scheduleNo},
      #{studyNo},
      #{memberNo})
  </insert>
 <!--  
  <select id="attendTrueFalse" resultMap="attendMap" parameterType="int">
    select
      std_atnd_id,
      std_id,
      member_id
    from
      sms_std_atnd
    where
      std_atnd_id = #{value}
  </select>
 -->
  <select id="attendTrueFalse" resultMap="attendMap" parameterType="int">
    select
      ssa.std_atnd_id,
      ssa.std_id,
      ssa.member_id,
      sm.nick_name
    from
      sms_std_atnd ssa
        inner join sms_std_member ssm on ssm.member_id = ssa.member_id and ssa.std_id = ssm.std_id
        inner join sms_member sm on sm.member_id = ssm.member_id
    where
      std_atnd_id = #{value}
  </select>

</mapper>
<!-- 
      sms_std_member ssm
        inner join sms_std_atnd ssa on ssa.member_id = ssm.member_id and ssa.std_id = ssm.std_id
        inner join sms_member sm on sm.member_id = ssm.member_id
    where 
      ssa.std_atnd_id = 4
         -->