<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.studyboot.sms.dao.SpaceDao">

  <resultMap type="space" id="spaceMap">
    <id column="space_id" property="no"/>
    <result column="name" property="name"/>
    <result column="adr_lms" property="address"/>
    <result column="adr_dtl" property="addressDetail"/>
    <result column="tel" property="tel"/>
    <result column="intro" property="intro"/>
  </resultMap>
  
  <resultMap type="space" id="spaceMap">
    <id column="space_id" property="no"/>
    <result column="name" property="name"/>
    <result column="adr_lms" property="address"/>
    <result column="adr_dtl" property="addressDetail"/>
    <result column="tel" property="tel"/>
    <result column="intro" property="intro"/>
    
    <association property="tags" javaType="spaceTag">
      <id column="tag_id" property="no"/>
      <result column="name" property="name"/>
      <result column="space_id" property="spaceNo"/>
    </association>
    
    <collection property="files" javaType="spacePhoto">
      <id column="space_photo_id" property="no"/>
      <result column="photo" property="filePath"/>
      <result column="space_id" property="spaceNo"/>
    </collection>
  </resultMap>
  
  <select id="findAll" resultMap="spaceMap" parameterType="map">
    select
      name,
      tel,
      intro
    from
      sms_space
    order by
      space_id desc
  </select>
  
  <select id="findByNo" resultMap="spaceMap" parameterType="int">
    select
      s.name,
      s.intro,
      t.name,
      p.photo
    from
      sms_space s
        inner join sms_tag t on s.space_id = t.space_id
        inner join sms_space_photo p on s.space_id = p.space_id
    where s.space_id = 101;
  </select>
  
</mapper>
