<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.studyboot.sms.dao.SpaceReviewDao">

 <!-- 공간후기 --> <!-- 완료!!! -->
  <resultMap type="spaceReview" id="spaceReviewMap">
      <id column="space_review_id" property="no"/>
    <id column="space_id" property="spaceNo"/>
     <id column="member_id" property="memberNo"/>
      <result column="rating" property="rating"/>
      <result column="review" property="review"/>
  </resultMap>
  
  
  <select id="findReview" resultMap="spaceReviewMap" parameterType="int">
    select
      r.space_review_id,
      s.space_id,
      m.member_id,
      r.space_id,
      r.member_id,
      r.rating,
      r.review
    from
      sms_space_review r
        inner join sms_space s on s.space_id = r.space_id
        inner join sms_member m on r.member_id = m.member_id
    where s.space_id = #{value}
  </select>
  
  <insert id="insertReview" parameterType="spaceReview">
    insert into sms_space_review(
      member_id,
      space_id,
      rating,
      review)
    values(
      #{memberNo},
      #{spaceNo},
      #{rating},
      #{review})
  </insert>
  
  <delete id="deleteReview" parameterType="int">
    delete from sms_space_review
    where space_review_id = #{value}
  </delete>

  <update id="updateReview" parameterType="spaceReview">
    update sms_space_review
    set 
      rating = #{rating} ,
      review = #{review}
    where space_review_id = #{no}
  </update>
  
</mapper>
