<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.studyboot.sms.dao.SpaceDao">

  <resultMap type="space" id="spaceMap">
    <id column="space_id" property="no"/>
    <result column="name" property="name"/>
    <result column="adr_lms" property="address"/>
    <result column="adr_dtl" property="addressDetail"/>
    <result column="tel" property="tel"/>
    <result column="intro" property="intro"/>
  </resultMap>
  
  <resultMap type="space" id="spaceTagMap">
    <id column="space_id" property="no"/>
    <result column="name" property="name"/>
    <result column="adr_lms" property="address"/>
    <result column="adr_dtl" property="addressDetail"/>
    <result column="tel" property="tel"/>
    <result column="intro" property="intro"/>
    
    <collection property="tags" ofType="spaceTag">
      <id column="tag_id" property="no"/>
      <result column="tag_name" property="tagName"/>
      <result column="space_id" property="spaceNo"/>
    </collection>
    
    <collection property="files" ofType="spacePhoto">
      <id column="space_photo_id" property="no"/>
      <result column="photo" property="filePath"/>
      <result column="space_id" property="spaceNo"/>
    </collection>
  </resultMap>
  
  <select id="findAll" resultMap="spaceMap">
    select
      space_id,
      name,
      tel,
      intro
    from
      sms_space
  </select>
  
  <select id="findByNo" resultMap="spaceTagMap" parameterType="int">
    select
      s.space_id,
      s.name,
      s.intro,
      p.space_photo_id,
      p.photo,
      t.tag_id,
      t.name as tag_name
    from
      sms_space s
        inner join sms_tag t on s.space_id = t.space_id
        inner join sms_space_photo p on s.space_id = p.space_id
    where s.space_id = #{value}
  </select>
  
</mapper>
