<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.studyboot.sms.dao.StudyMemberDao">
  
  
  <resultMap type="studyMember" id="studyMemberMap">
    <id column="std_id" property="studyNo"/>
    <id column="member_id" property="memberNo"/>
    <result column="pwd" property="password"/>
    <result column="email" property="email"/>
    <result column="nick_name" property="nickName"/>
    <result column="join_date" property="registeredDate"/>
    <result column="name" property="name"/>
    <result column="rate" property="rate"/>
    <result column="birth" property="birth"/>
    <result column="tel" property="tel"/>
    <result column="photo" property="photo"/>
    <result column="admin" property="admin"/>
    <result column="adr_lms" property="address"/>
    <result column="end_state_cls_id" property="endNo"/>
    <result column="join_date" property="joinDate"/>
    <result column="end_date" property="endDate"/>
    <result column="leader" property="leader"/>
    <result column="atn_pct" property="attendance"/>
    <result column="arch_cnt" property="upload"/>
  </resultMap>
  
  <!-- 스터디 구성원들 가져오기 -->
  <select id="findStudyMembersByNo" resultMap="studyMemberMap" parameterType="int">
    select
      m.rate,
      m.birth,
      m.name,
      m.photo
      sm.atn_pct
    from
      sms_std_member sm
      inner join sms_member m on sm.member_id = m.member_id
    where 
      sm.std_id = #{no}
  </select>
  
</mapper>










