* {
}

#empty {
	height: 38px;
}

#spaceMap {
	height: 1520px;
	}

#list {
	/*
	position:absolute;
	top: 130px;
	right: 320px;
	width: 16%;
	*/
}

/*
.spaceList  {
	height: 280px;
	width: 300px;
}
*/

article > img {
	height: 150px;
}

h3, div > p {
	text-align: center;
}

#js-footer {
}


