* {
	border: 0.5px dotted lightgrey;
}
#tag > div {
}

#space-name {
	font-size: 3em;
}

#intro {
	font-size: 2em;
}

#convName {
}

/*
#tag > div{
  background-color: #d3d7cf;
  border: ridge 3px;
  height: 30px;
  width: 70px;
  position: relative;
  left: 30%;
  top: 10px;
  margin: 5px;
  display: inline;
}


#intro {
	margin: 20px;
}

#name {
	font-size: 3em;
  margin: 20px;
  display: inline;
}

#filePath {
	background-color: #aee8f1;
}

#convName {
	background-color: #fbb2b2;
}

#convNote {
	background-color: #d3d7cf;
}

#roomInfo {
	background-color: #00ffff;
}

#spaceReview {
	background-color: #8ae234;
}
*/
