* {
}

#spaceDetail {
	position: relative;
	top: 140px;
}

#spaceInfo {
	position: fixed;
	width: 900px;
	top: 240px;
	left: 1150px;
}

.reviewList{
  width: 700px;
}

#spaceName {
	font-size: 2.5em;
}

#tel {
  font-size: 2em;
}

#intro {
	font-size: 1.5em;
}

#convSpan {
	float: left;
}

.convNote {
	visibility: hidden;
	opacity: 0.5;
	width: 200px;
	background-color: lightgrey;
	color: black;
	text-align: center;
	border-radius: 10px;
	padding: 10px 5px;
	position: absolute;
}

span[name=convSpan]:hover {
	
}

/*
#tag > div{
  background-color: #d3d7cf;
  border: ridge 3px;
  height: 30px;
  width: 70px;
  position: relative;
  left: 30%;
  top: 10px;
  margin: 5px;
  display: inline;
}


#intro {
	margin: 20px;
}

#name {
	font-size: 3em;
  margin: 20px;
  display: inline;
}

#filePath {
	background-color: #aee8f1;
}

#convName {
	background-color: #fbb2b2;
}

#convNote {
	background-color: #d3d7cf;
}

#roomInfo {
	background-color: #00ffff;
}

#spaceReview {
	background-color: #8ae234;
}
*/
