@charset "UTF-8";


/* unify와 관련없이 전체 프로젝트에 쓰는 css입니다*/
.std-invisible {
  display: none;
}

.clsTag {
 
 background-color: none;
}

#rateRange {
 
 width: 100px;
}

.modal-open {
    overflow: hidden;
}